@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

.header-img img{
    top: 0px;
    left: 0;
    position: relative;
    width: 100%;
    height: 90vh;
}

.Couscous-title{
    position: relative;
    margin-top: -20rem;
    margin-left: 12rem;
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: 'Alkatra', cursive;
}

.Couscous-body{
    padding-top: 300px;
    padding-left: 250px;
    padding-right: 250px;
}

.Couscous-text{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.Couscous-img {
    padding-top: 50px;

}

.Couscous-img img{
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}