.currency-content{
    margin: 50px;
    position: relative;
}

.currency-title{
    padding-bottom: 30px;
    padding-left: 50px;
}

.currency-img {
    width: 100%;
    height: 80vh;
}

.currency-img img{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.first-box{
         display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 20px;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          ". .";
          overflow: hidden;
          border-radius: 15px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;}
     
      

.currency-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    font-size: 14px;
    text-align: justify;
}

.currency-slogan{
    font-size: 20px;
    font-weight: 600;
    color: rgb(20, 160, 160);
 
}


.season-title{
    padding-left: 70px;
}

.currency-cards{
    padding-top: 50px;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 50px;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          ". . .";
         
}

.currency-card{
    border-radius: 0px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.curr-title{
    background-color: rgb(119, 13, 13);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.curr-body{
    padding: 30px;
    padding-bottom: 120px;
}

.explore-card {
    width: 250px;
    height: 300px;
  }

  .explore-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -20rem;
  }

  .explore-title{
    padding: 39px;
  }