.mySwiper{
  width: 100%;
  height: 100vh;
}

.swiperslide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contents{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  left: 10%;
  right: 10%;
  bottom: 25%;
}

.title-contents{
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding-bottom: 0;
  font-weight: bolder;
}

.slogan{
  padding-top: 0;
  color: rgb(232, 247, 255);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.btn-discover{
  width: 250px;
  height: 60px;
}

.btn-discover {
  background: none;
	color: rgb(255, 255, 255);
  font-size: 23px;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-style: italic;
}


.btn-discover span::before{
  font-size: 22px;
}

.span-disc{
  position: relative;
}

.span-disc::before{
  content: "";
  position: absolute;
  left: 30%;
  bottom: -1px;
  width: 100px;
  height: 6px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: 2;
}

@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  .title-contents{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .swiperslide img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .mySwiper{
    width: 100%;
    height: 60vh;
  }

  .contents{
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 5%;
  }
  
  .slogan{
    font-size: 13px;
  }
  
  .btn-discover span::before{
    font-size: 13px;
  }
  
  .span-disc{
    font-size: 13px;
  }
  
  .span-disc::before{
    width: 60px;
    height: 4px;
  }
  
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .title-contents{
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
  }

  .swiperslide img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .mySwiper{
    width: 100%;
    height: 60vh;
  }

  .contents{
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 5%;
  }
  
  .slogan{
    font-size: 15px;
  }
  
  
  .span-disc{
    font-size: 15px;
  }
  
  .span-disc::before{
    width: 70px;
    height: 4px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .title-contents{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  .swiperslide img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .mySwiper{
    width: 100%;
    height: 60vh;
  }

  .contents{
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 5%;
  }
  
  .slogan{
    font-size: 20px;
  }
  
  
  .span-disc{
    font-size: 18px;
  }
  
  .span-disc::before{
    width: 80px;
    height: 4px;
  }
}


@media screen (min-width: 769px) and (max-width: 1243px) {
      
}

@media screen (min-width: 1244px){
      
}

