@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');


.Akbouch-img{
    top: 0px;
    left: 0;
    position: relative;
    width: 100%;
    height: 90vh;
}

.Akbouch-title{
    position: relative;
    margin-top: -16rem;
    margin-left: 12rem;
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: 'Alkatra', cursive;
}

.akbouch-body{
    padding-top: 250px;
    padding-left: 100px;
    padding-right: 100px;
}


.akbouch-img {
    padding-top: 50px;
}

.akbouch-img img{
    width: 100%;
    height: 150vh;
    border-radius: 5px;
}

.akb-paragraphe{
    padding-bottom: 50px;
}

.akbouch-info{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-template-areas:
      ". .";
      align-items:center;
}

.img-akbouch img{
    width: 500px;
    height: 250px;
    border-radius: 5px;
}